/* --------------- */
/* ---- Global---- */
/* --------------- */

body {
    font-family: "Lato";
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 10px;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 20px;
}

h3 {
    font-weight: 300;
    margin-bottom: 40px;
    padding-bottom: 3px;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

h5 {
    font-size: .8rem;
    font-weight: 400;
    color: grey;
}

p {
    font-size: 1rem
}

/* Grid */
.row {

}

.col {

}

.col-sm {

}

/* Container */
.container-fluid {
    padding: 5% 25%;
}

.container {
    padding: 0% 7%;
}
/* Sections */

.white-section{
    background-color: white;
}

.alt-section {
    background-color: #f4f4f4
}

/* Nav Bar */

.fixed-top {

}

.navlogo {
    height: 70px;
    padding: 10px 10px;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;

}


/* ---------------- */
/* ----- Home ----- */
/* ---------------- */

#home {
    margin-top: 60px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

.masthead { 
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-align: center;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 49, 68, 0.73);
}

.icon {
    padding-right: 5px;
}
  
/* About */

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

.profile-img{
    max-width: 15rem;
    border-radius: 30px;
}

.about-social{
    padding-right: 10px;
}

/* Projects */
#projects {
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}


#project {
    background-color: rgb(219, 219, 219);
    margin-bottom: 5%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.project-card {
    max-width: 30rem;
}

/* Experience */

#experience{
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

/* Skills */

#skills{
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

/* Contacts */
#contacts {
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

#contacts h3{
    margin: 0px 0px 30px 0px;
    padding: 0px 0px;
}

#contact-form{
    margin: 0px 0px;
    padding: 0 0;
}


/* Social */
#social {
    padding: 5% 0%;
}

.social-icon {
    margin-bottom: 6px;
}


/* @media Section */
  @media (max-width: 768px) {

    /* Nav Bar */
    
    .fixed-top {
        padding: 0% 4%;
    }

    /* Home */

    #home {
        margin-top: 60px;
        margin-bottom: 0px;
    }
    
    .masthead {
        min-height: 50vh;
        text-align: center;
    }

    #home h1{
        font-size: calc(.5rem + 3.3vw);
    }

    #home h2{
        font-size: calc(.1rem + 3vw);
    }

    .resume-btn {
        max-width: 10rem;
        font-size: calc(.1rem + 1.3vw);
    }
  
  }