/* --------------- */
/* ---- Global---- */
/* --------------- */

body {
    font-family: "Lato";
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 3px;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 20px;
}

h3 {
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 3px;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(93, 93, 93);
}

h6 {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(143, 143, 143); 
}

p {
    font-size: 1rem;
    font-weight: 400;
}

/* Use BOX class to see div layout */
.box{
    background-color: aqua;
    border: 1px solid black;
}

/* Grid */
.row {

}

.col {

}

.col-sm {

}

/* Container */
.container-fluid {
    padding: 5% 25%;
}

.container {
    padding: 0% 7%;
}
/* Sections */

.white-section{
    background-color: white;
}

.alt-section {
    background-color: #f4f4f4
}

/* Nav Bar */

.fixed-top {

}

.navlogo {
    height: 70px;
    padding: 10px 10px;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;

}


/* ---------------- */
/* ----- Home ----- */
/* ---------------- */

#home {
    margin-top: 60px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

.masthead { 
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-align: center;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 49, 68, 0.75);
}

.a-icon {
    color: white;
    margin: 0 10px;
}

.icon-size {
    font-size: 2em;
}

.a-icon:hover{
    color: #00000071;
}
  
/* About */

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

.profile-img{
    max-width: 11rem;
    border-radius: 30px;
    margin-bottom: 10px;
}

.about-social{
    padding-right: 10px;
}

/* Projects */
#projects {
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}


#project {
    background-color: rgb(219, 219, 219);
    margin-bottom: 5%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.project-card {
    max-width: 30rem;
}

/* Experience */

#experience{
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

    /* Solid border */
#experience hr{
    border-top: 4 px solid #bbb;
    max-width: 80px;
}

.date-location-h5{
    text-align: right;
}

/* Skills */
.schools{
    margin-bottom: 20px;
}
#education{
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

#education ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#education li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    /* font-size: 1.2em; */
    border-radius: 4px;
}

.list-items {
    text-align: center;
}

/* Contacts */
#contacts {
    padding-top: 50px;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
}

#contacts h3{
    margin: 0px 0px 30px 0px;
    padding: 0px 0px;
}

#contact-form{
    margin: 0px 0px;
    padding: 0 0;
}


/* Social */
#social {
    padding: 5% 0%;
}

.social-icon {
    margin-bottom: 6px;
}


/* @media Section */
  @media (max-width: 768px) {

    /* Nav Bar */
    
    .fixed-top {
        padding: 0% 4%;
    }

    /* Home */

    #home {
        margin-top: 60px;
        margin-bottom: 0px;
    }
    
    .masthead {
        min-height: 50vh;
        text-align: center;
    }

    #home h1{
        font-size: calc(.5rem + 3.3vw);
    }

    #home h2{
        font-size: calc(.1rem + 3vw);
    }

    .resume-btn {
        max-width: 10rem;
        font-size: calc(.1rem + 1.3vw);
    }

    .icon-size {
        font-size: calc(.1rem + 3vw)
    }

    /* Education */

    .list-items {
        text-align: center;
    }



  }

  @media (max-width: 992px) {
    /* Experience */
    .date-location-h5{
        text-align: left;
    }

    /* Education */

    .school-card {
        max-width: 436px;
        text-align: center;
    }


  }